# ========================
# MQTT broker
# ========================
MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_USERNAME=iot
MQTT_PASSWORD=secret_password

MQTT_TOPIC=sensors/+/+

# ========================
# InfluxDB
# ========================
INFLUXDB_HOST=influxdb
INFLUXDB_PORT=8086
INFLUXDB_USER=benzzo
INFLUXDB_PASSWORD=secret_password
INFLUXDB_DB=sensors

